<div class="content" role="main">
  <div>
      <div>
        <input id="new-pithy" placeholder="https://example.com/the-page..." #longUrl />
        <button class="add-button" (click)="add(longUrl.value)">Get URL</button>
    </div>
  </div>

  <div>   
      <input  disabled [value] = "shortUrl"  />   
      <button [cdkCopyToClipboard]="shortUrl">Copy</button>
    </div>

  <div>
    <table>
      <tbody>
        <tr *ngFor="let pithy of pithys">
          <th>{{pithy.longUrl}}</th>
          <th>{{pithy.shortUrl}}</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>